html{
    height:100%;
    width: 100%;
    background-image: url(./backgroundImg.jpg);
    background-position: center;
    background-image: no-repeat;
    background-size: cover;
}

#weatherContainer{
    background-color: rgba(174, 203, 212, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}